html, body, .box {
    height: 100%;
    margin: 0;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.content{
    background: green;
    padding: 20px;
}
.top{
    text-align: center;
    box-shadow: 1px 0 3px rgb(0 0 0);
}
.error{
    color: blue;
    font-size: 15px;
    margin: 10px 0px 0px;
}
.message{
    padding: 5px;
    color: #0f0;
    font-size: 20px;
}